<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Header</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
<!--</head>-->
<!--<body>-->
<!--<header class="navbar navbar-expand-lg navbar-dark bg-dark px-3">-->
<!--&lt;!&ndash;    <a class="navbar-brand" href="#">Admin Portal </a>&ndash;&gt;-->
<!--    <div class="ms-auto d-flex align-items-center">-->
<!--        <span class="text-white me-3"  th:text="'Welcome, ' + ${name}"> Welcome</span>-->
<!--&lt;!&ndash;        <form id="logoutForm" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="submit">Logout</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--    </div>-->
<!--</header>-->
<!--</body>-->
<!--</html>-->
