<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div class="page-wrapper chiller-theme toggled">
    <div th:insert="~{fragments/header}"></div>

    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div th:replace="~{fragments/sidebar}"></div>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="page-content">
<!--        <div class="container">-->
<!--            &lt;!&ndash; This is where page-specific content will be inserted &ndash;&gt;-->
<!--            <div th:fragment="content">-->
<!--                &lt;!&ndash; Default dashboard content here &ndash;&gt;-->
<!--                <h1>Welcome to the Dashboard!</h1>-->
<!--                <p>This is the default dashboard content.</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <!-- Main Content -->
</div>

</body>
</html>
